# rebar and tools
*.crashdump
/.cache/
/.eqc*
/.eunit/
/.rebar/
/.rebar3/
/_build/
/_checkouts
/deps
/doc/
/rebar.lock
log/

# work environments
*.bak
*.dump
*.iml
*.plt
*.sublime-project
*.sublime-workspace
*.tmp
*_plt
*~
.DS_Store
.idea/
.project
.settings/
.tm_properties
/*.txt
erln8.config
tmp/

# Erlang artifacts
*.app
*.beam
*.coverdata
/ebin/

# test artifacts - shouldn't be up at this level
/data/
/nonode@nohost/
/ring_manager_eunit/
/sim.out
