%% -*- mode: erlang; erlang-indent-level: 4; indent-tabs-mode: nil -*-
%% -------------------------------------------------------------------
%%
%% Copyright (c) 2010-2017 Basho Technologies, Inc.
%%
%% This file is provided to you under the Apache License,
%% Version 2.0 (the "License"); you may not use this file
%% except in compliance with the License.  You may obtain
%% a copy of the License at
%%
%%   http://www.apache.org/licenses/LICENSE-2.0
%%
%% Unless required by applicable law or agreed to in writing,
%% software distributed under the License is distributed on an
%% "AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY
%% KIND, either express or implied.  See the License for the
%% specific language governing permissions and limitations
%% under the License.
%%
%% -------------------------------------------------------------------

{brt_protect, true}.

% from rebar2 config, do we need this?
{erl_first_files, [
    "src/gen_nb_server.erl",
    "src/riak_core_gen_server.erl",
    "src/riak_core_stat_xform"
]}.

{erl_opts, [
    warn_bif_clash,
    % warn_export_all,
    % warn_export_vars,
    warn_obsolete_guard,
    warn_unused_import,
    {parse_transform, lager_transform}
    % from rebar2 config, for grepping
    % {platform_define, "^[0-9]+", namespaced_types},
    % {platform_define, "^R15", old_hash}
]}.

{deps, [
    {basho_stats,
        {git, "https://github.com/basho/basho_stats.git",
        {branch, "develop"} }},
    {clique,
        {git, "https://github.com/basho/clique.git",
        {branch, "develop"} }},
    {cluster_info,
        {git, "https://github.com/basho/cluster_info.git",
        {branch, "develop"} }},
    {cuttlefish,
        {git, "https://github.com/basho/cuttlefish.git",
        {branch, "feature/riak-2903/rebar3"} }},
    {eleveldb,
        {git, "https://github.com/basho/eleveldb.git",
        {branch, "feature/riak-2903/rebar3"} }},
    {exometer_core,
        {git, "https://github.com/basho/exometer_core.git",
        {branch, "master"} }},
    {folsom,
        {git, "https://github.com/basho/folsom.git",
        {branch, "master"} }},
    {lager,
        {git, "https://github.com/basho/lager.git",
        {branch, "master"} }},
    {pbkdf2,
        {git, "https://github.com/basho/erlang-pbkdf2.git",
        {branch, "master"} }},
    {riak_ensemble,
        {git, "https://github.com/basho/riak_ensemble.git",
        {branch, "develop"} }},
    {riak_sysmon,
        {git, "https://github.com/basho/riak_sysmon.git",
        {branch, "develop"} }}
]}.

{profiles, [
    {check, [
        {dialyzer, [
            {warnings, [
                % We have some functions that only return via exceptions
                % error_handling,

                % Uncomment this now and then, but it takes a looong time
                % race_conditions,

                unknown

                % Tons of these, should clean them up
                % unmatched_returns
            ]}
        ]},
        {erl_opts, [
            debug_info,
            warnings_as_errors,
            {d, 'BASHO_CHECK'}
        ]},
        {overrides, [
            {add, basho_stats, [{erl_opts, [debug_info]}]},
            {add, clique, [{erl_opts, [debug_info]}]},
            {add, cluster_info, [{erl_opts, [debug_info]}]},
            {add, cuttlefish, [{erl_opts, [debug_info]}]},
            {add, eleveldb, [{erl_opts, [debug_info]}]},
            {add, exometer_core, [{erl_opts, [debug_info]}]},
            {add, folsom, [{erl_opts, [debug_info]}]},
            {add, lager, [{erl_opts, [debug_info]}]},
            {add, pbkdf2, [{erl_opts, [debug_info]}]},
            {add, riak_ensemble, [{erl_opts, [debug_info]}]},
            {add, riak_sysmon, [{erl_opts, [debug_info]}]}
        ]},
        {xref_checks, [
            % These can be un-commented when the worker pool is gone.
            % deprecated_function_calls,
            % deprecated_functions,
            locals_not_used,
            undefined_function_calls,
            undefined_functions
        ]},
        % from rebar2 config, do we need this?
        {xref_queries, [
            {"(XC - UC) || (XU - X - B - \"(cluster_info|dtrace)\" : Mod)", []}
        ]}
    ]},
    {docs, [
        {edoc_opts, [
            {app_default, "http://www.erlang.org/doc/man"},
            {preprocess, true},
            {macros, [
                {'EDOC', true},
                {'BASHO_DOCS', true}
            ]}
        ]}
    ]},
    {prod, [
        {erl_opts, [
            warnings_as_errors,
            {d, 'BASHO_PROD'}
        ]}
    ]},
    % This profile shouldn't be here in its current form, if at all.
    % It's here ONLY to support the Makefile target of the same name.
    {pulse, [
        {erl_opts, [
            debug_info,
            warnings_as_errors,
            {d, 'PULSE'}
        ]},
        {eunit_opts, [
            verbose
        ]},
        {eunit_tests, [
            worker_pool_pulse
        ]}
    ]},
    {test, [
        {cover_enabled, true},
        {erl_opts, [
            debug_info,
            nowarn_deprecated_function,
            nowarn_export_all,
            nowarn_unused_function,
            warnings_as_errors,
            {d, 'BASHO_TEST'}
        ]},
        {eunit_opts, [
            verbose
        ]},
        {deps, [
            {meck,
                {git, "https://github.com/basho/meck.git",
                {branch, "feature/riak-2903/rebar3"} }}

        ]}
    ]},
    {validate, [
        {erl_opts, [
            strong_validation,
            no_auto_import,
            warn_bif_clash,
            warn_deprecated_function,
            warn_deprecated_type,
            warn_export_all,
            warn_export_vars,
            warn_missing_spec,
            warn_missing_spec_all,
            warn_obsolete_guard,
            warn_shadow_vars,
            warn_untyped_record,
            warn_unused_function,
            warn_unused_import,
            warn_unused_record,
            warn_unused_vars,
            {d, 'BASHO_VALIDATE'}
        ]}
    ]}
]}.

{plugins, [
    {basho_rebar_tools,
        {git, "https://github.com/basho/basho_rebar_tools.git",
        {branch, "master"} }},
    {rebar_raw_resource,
        {git, "https://github.com/basho/rebar_raw_resource.git",
        {branch, "master"} }}
]}.
