%% -*- mode: erlang; erlang-indent-level: 4; indent-tabs-mode: nil -*-
%% -------------------------------------------------------------------
%%
%% Copyright (c) 2010-2017 Basho Technologies, Inc.
%%
%% This file is provided to you under the Apache License,
%% Version 2.0 (the "License"); you may not use this file
%% except in compliance with the License.  You may obtain
%% a copy of the License at
%%
%%   http://www.apache.org/licenses/LICENSE-2.0
%%
%% Unless required by applicable law or agreed to in writing,
%% software distributed under the License is distributed on an
%% "AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY
%% KIND, either express or implied.  See the License for the
%% specific language governing permissions and limitations
%% under the License.
%%
%% -------------------------------------------------------------------

{brt_protect, true}.

{erl_opts, [
    warn_bif_clash,

    % small-impact cleanup necessary before we can use this option
    % warn_export_all,

    % large-impact cleanup necessary before we can use this option
    % warn_export_vars,

    warn_obsolete_guard,
    warn_unused_import,
    {parse_transform, lager_transform},

    % conditional stuff that will go away
    % separated even when versions overlap to make them easier to find
    {platform_define, "^(R|17)",  'NO_MONOTONIC_TIME'},
    {platform_define, "^R",       'NO_NAMESPACED_TYPES'},
    {platform_define, "^(R|17)",  'NO_RAND_MODULE'}
]}.

{deps, [
    {basho_stats,
        {git, "https://github.com/basho/basho_stats.git",
        {branch, "feature/riak-2903/rebar3"} }},
    {clique,
        {git, "https://github.com/basho/clique.git",
        {branch, "feature/riak-2903/rebar3"} }},
    {cluster_info,
        {git, "https://github.com/basho/cluster_info.git",
        {branch, "feature/riak-2903/rebar3"} }},
    {cuttlefish,
        {git, "https://github.com/basho/cuttlefish.git",
        {branch, "feature/riak-2903/rebar3"} }},
    {eleveldb,
        {git, "https://github.com/basho/eleveldb.git",
        {branch, "feature/riak-2903/rebar3"} }},
    {exometer_core,
        {git, "https://github.com/basho/exometer_core.git",
        {branch, "feature/riak-2903/rebar3"} }},
    {folsom,
        {git, "https://github.com/basho/folsom.git",
        {branch, "feature/riak-2903/rebar3"} }},
    {lager,
        {git, "https://github.com/basho/lager.git",
        {branch, "feature/riak-2903/rebar3"} }},
    {pbkdf2,
        {git, "https://github.com/basho/erlang-pbkdf2.git",
        {branch, "feature/riak-2903/rebar3"} }},
    {riak_ensemble,
        {git, "https://github.com/basho/riak_ensemble.git",
        {branch, "feature/riak-2903/rebar3"} }},
    {riak_sysmon,
        {git, "https://github.com/basho/riak_sysmon.git",
        {branch, "feature/riak-2903/rebar3"} }}
]}.

{profiles, [
    {check, [
        {dialyzer, [
            {warnings, [
                % We have some functions that only return via exceptions
                % error_handling,

                % Use this now and then, but it takes a looong time to run
                % race_conditions,

                unknown

                % Tons of these, should clean them up
                % unmatched_returns
            ]},
            {plt_extra_apps, [public_key]}
        ]},
        {erl_opts, [
            debug_info,
            warnings_as_errors,
            {d, 'BASHO_CHECK'}
        ]},
        {overrides, [
            {add, basho_stats,      [{erl_opts, [debug_info]}]},
            {add, clique,           [{erl_opts, [debug_info]}]},
            {add, cluster_info,     [{erl_opts, [debug_info]}]},
            {add, cuttlefish,       [{erl_opts, [debug_info]}]},
            {add, eleveldb,         [{erl_opts, [debug_info]}]},
            {add, exometer_core,    [{erl_opts, [debug_info]}]},
            {add, folsom,           [{erl_opts, [debug_info]}]},
            {add, lager,            [{erl_opts, [debug_info]}]},
            {add, pbkdf2,           [{erl_opts, [debug_info]}]},
            {add, riak_ensemble,    [{erl_opts, [debug_info]}]},
            {add, riak_sysmon,      [{erl_opts, [debug_info]}]}
        ]},
        {xref_checks, [
            % These can be un-commented when the worker pool is gone.
            % deprecated_function_calls,
            % deprecated_functions,
            locals_not_used,
            undefined_function_calls,
            undefined_functions
        ]},
        % from rebar2 config, do we need this?
        {xref_queries, [
            {"(XC - UC) || (XU - X - B - \"(cluster_info|dtrace)\" : Mod)", []}
        ]}
    ]},
    {docs, [
        {edoc_opts, [
            {app_default, "http://www.erlang.org/doc/man"},
            {preprocess, true},
            {macros, [
                {'EDOC', true},
                {'BASHO_DOCS', true}
            ]}
        ]}
    ]},
    {prod, [
        {erl_opts, [
            warnings_as_errors,
            {d, 'BASHO_PROD'}
        ]}
    ]},
    % This profile is specific to pulse tests, which are explicitly listed
    % in the 'eunit_tests' list.
    % Right now, there's only one, and it will go away at some point - when
    % it does, this profile should go with it.
    {pulse, [
        {erl_opts, [
            debug_info,
            nowarn_export_all,
            nowarn_unused_import,   % EQC
            warnings_as_errors,
            {d, 'PULSE'}
        ]},
        {eunit_tests, [
            worker_pool_pulse
        ]}
    ]},
    {test, [
        {cover_enabled, true},
        {erl_opts, [
            debug_info,
            nowarn_deprecated_function,
            nowarn_export_all,
            nowarn_unused_function,
            nowarn_unused_import,   % EQC
            warnings_as_errors,
            {d, 'BASHO_TEST'}
        ]},
        {deps, [
            {meck,
                {git, "https://github.com/basho/meck.git",
                {branch, "feature/riak-2903/rebar3"} }}

        ]}
    ]},
    {validate, [
        {erl_opts, [
            strong_validation,
            no_auto_import,
            warn_bif_clash,
            warn_deprecated_function,
            warn_deprecated_type,
            warn_export_all,
            warn_export_vars,
            warn_missing_spec,
            warn_missing_spec_all,
            warn_obsolete_guard,
            warn_shadow_vars,
            warn_untyped_record,
            warn_unused_function,
            warn_unused_import,
            warn_unused_record,
            warn_unused_vars,
            {d, 'BASHO_VALIDATE'}
        ]}
    ]}
]}.

{plugins, [
    {basho_rebar_tools,
        {git, "https://github.com/basho/basho_rebar_tools.git",
        {branch, "master"} }},
    {rebar_raw_resource,
        {git, "https://github.com/basho/rebar_raw_resource.git",
        {branch, "master"} }}
]}.
